@{
    ViewData["Title"] = "Items for sale!";
}
@model Marketplace_App.VM.ItemsForSaleVM

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <img src="@product.Image" width="100" height="100" alt="No photo added"/>
                </td>
                <td>
                    <form asp-action="Cart" asp-controller="Checkout" method="post">
                        <input type="hidden" name="ProductId" value="@product.ID" />
                        <input type="hidden" name="Name" value="@product.Name" />
                        <input type="hidden" name="Description" value="@product.Description" />
                        <input type="hidden" name="Price" value="@product.Price" />
                        <input type="hidden" name="Image" value="@product.Image" />
                        <button type="submit" class="btn btn-primary">Buy</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
